{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Page info -->
<div class="page-info-section set-bg" data-setbg="{% static 'webuni/img/page-bg/4.jpg' %}">
	<div class="container">
		<div class="site-breadcrumb">
			<a href="/">Home</a>
			<span>
				About</span>
		</div>
	</div>
</div>
<!-- Page info end -->


<section class="about-us py-5 " id="about-us">
	<div class="container mt-5">
		<div class="row">
			<div class="col-md-6">
				<h1 class='text-primary'>Welcome! {{ request.user.username|capfirst }}*</h1>
				<h2>
					Learn more about us</h2>
				<hr>
				<p>We are a team of three individuals currently persuing B.Tech(CSE) from SMIT , who embarked upon the process to create a platform so that beginners in programming can learn it easily. 
				</p>
				<p>

					Our team consists of Hiteshi Singhal, Pramit Pujara & Yumn Gauhar. 
				</p>
				<!-- <button type="button" class="btn btn-primary">Let's Know More</button> -->

			</div>
			<div class="col-md-6">
				<img src="{% static 'webuni/img/seo.png' %}" alt="">
			</div>
		</div>
	</div>
</section>
{% endblock %}